
demo_unity/DemoVR/.vs/DemoVR/v16/

Doku/denkstuetze/.idea/

demo_unity/DemoVR/Measurement/.idea/

demo_unity/DemoVR/Measurement/__pycache__/

demo_unity/DemoVR/Assets/_ImmerseumSDK/

demo_unity/DemoVR/Assets/_ImmerseumSDK.meta

demo_unity/DemoVR/obj/Debug/
